@import url('https://fonts.cdnfonts.com/css/manrope?styles=21011,21013,21009,21010,21012,21008');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Manrope', sans-serif;
  color: #000;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  height: 100%;
  overflow: hidden;
}

input[type="checkbox"]{
  display: none;
}

textarea{
  resize: none;
}

.d-none{
  display: none;
}

.container{
  max-width: 550px;
  padding: 0 20px;
  margin: 0 auto;
}

.progress-bar{
  position: fixed;
  top: 15px;
  max-width: 500px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.progress-bar-inner{
  display: flex;
  justify-content: space-between;
}

.progress-bar__el{
  width: calc((100% - 8px * 9) / 10 );
  height: 5px;
  border-radius: 8px;
  background: rgba(64, 64, 195, 0.2);
}

.purple-body .progress-bar__el{
  background: rgba(255, 255, 255, 0.2);
}

.progress-bar__el.done{
  background: #4040c3;
}

.purple-body .progress-bar__el.done{
  background: #fff;
}

.progress-bar-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  margin-top: 12px;
}

.back-tab.d-none{
  display: none;
}

.back-tab{
  display: flex;
}

.progress-bar-content.start{
  justify-content: center;
}

.progress-bar__num,
.progress-bar__num span{
  font-weight: 500;
  font-size: 20px;
  color: #4040c3;
}

.purple-body .progress-bar__num,
.purple-body .progress-bar__num span{
  color: #fff;
}

.tab{
  display: none;
  padding-top: 88px;
}

.tab.active{
  display: block;
}

.title{
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.banner{
  display: flex;
  gap: 8px;
  width: 100%;
  border-radius: 13px;
  padding: 12px;
}

.banner-silver{
  flex-direction: column;
  align-items: center;
  background: #f2f2fa;
}

.banner-silver .banner-text{
  font-weight: 600;
  font-size: 12px;
  text-align: center;
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  border-radius: 14px;
  padding: 16px 12px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

.tab-btn{
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 24px;
}

.btn-silver{
    background: #f8f8f8;
}

.btn-blue{
  background: #4040c3;
  color: #fff;
}

.cover{
  width: 100%;
  margin: 24px 0 32px;
}

.cover img{
  width: 100%;
}

.banner-pink{
  position: fixed;
  bottom: 24px;
  left: 50%;
  width: calc( 100% - 40px);
  transform: translateX(-50%);
  background: #f5bebe;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.55);
}

.banner-pink svg{
  flex-shrink: 0;
}

.banner-pink span{
  font-weight: 500;
  color: rgba(0, 0, 0, 0.55);
}

.fix-btn{
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 25px 20px;
  background: #f8f8f8;
}

.subtitle{
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 25px;
}

.subtitle.subtitle--white{
  color: #fff;
}

.tab--purple title{
  font-weight: 700;
  font-size: 30px;
  color: #fff;
}

.title.title--white span{
  color: #75eb9f;
}

.purple-body{
  background: #7b40c3;
}

.tab--purple .mobile-icon{
  width: calc(100% + 40px);
  margin-top: 124px;
  margin-left: -20px;
  text-align: center;
  background: #fff;
}

.mobile-icon img{
  position: relative;
  top: -100px;
  width: 257px;
  margin: 0 auto;
}

.title-pay span{
  color: #4040c3;
}

.order{
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  margin-top: 24px;
  border-top: 1px solid #c6c6c8;
}

.order-title{
  font-weight: 700;
  font-size: 20px;
}

.order-sum{
  font-weight: 700;
  font-size: 20px;
  text-align: right;
}

.order-text{
  font-weight: 600;
  font-size: 12px;
  color: #ff453a;
}

.secure{
  display: flex;
  justify-content: center;
  padding-top: 16px;
  margin-top: 16px;
  border-top: 1px solid #c6c6c8;
}

.secure-content{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 4px 12px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #79c079;
  background: rgba(121, 192, 121, 0.2);
  border-radius: 8px;
}

iframe {
  width: 100%;
  max-width: 100%;
}

.subtitle{
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  color: rgba(0, 0, 0, 0.55);
}

.checkbox-list{
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.checkbox-el label{
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px;
  border: 1px solid #c6c6c8;
  border-radius: 16px;
  background:#f8f8f8;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: rgba(0, 0, 0, 0.55);
  transition: .3s;
}

.checkbox-el label:before{
  position: absolute;
  content: "";
  top: 20px;
  right: 16px;
  width: 24px;
  height: 24px;
  background: url("../assets/img/check.svg") no-repeat center;
}

.checkbox-el label:after{
  position: absolute;
  content: "";
  top: 20px;
  right: 16px;
  width: 24px;
  height: 24px;
  background: url("../assets/img/checked.svg") no-repeat center;
  opacity: 0;
  transition: .3s;
}

.checkbox-list__input:checked + label:after{
  opacity: 1;
}

.checkbox-list__input:checked + label{
  border: 1px solid #4040c3;
}

.mt-0{
  margin-top: 0;
}